@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
    background-image: url("/images/navbar_background.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter:  grayscale(1) blur(10px);
}

